<!-- EDIT USER MODAL -->
    <div class="add-user-modal" id="editUserModal">
        {{ form_start(form) }}
            <p class="modal-title">New User</p>
            <img class="add-user-image" src="" alt="Add image">
            {{ form_row(form.first_name) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword, {label: 'Password'}) }}
            {{ form_row(form.roles, {label: "Role"}) }}
            {{ form_row(form.street) }}
            {{ form_row(form.city) }}
            {{ form_row(form.country) }}
            {{ form_row(form.bank_acc) }}
            {{ form_row(form.status, {label: 'Active'}) }}

            <button class="btn-primary" name="submit" type="submit">Save changes</button>
        {{ form_end(form) }}
    </div>
</div>