{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <!-- TOPBAR -->
    <div class="top-section">
        <input class="searchbar" type="text" placeholder="Search">
        <input class="add-user-btn btn-primary" type="submit" value="Add client" id="openAddClientModalBtn">
    </div>
    <!-- TABLE -->
    <div class="table-div">
        <table class="table">
            <thead>
                <th class="table-cell avatar-column">Avatar</th>
                <th class="table-cell name-column">Client name</th>
                <th class="table-cell">Email</th>
                <th class="table-cell">Manager</th>
                <th class="table-cell">Payment</th>
                <th class="table-cell">Options</th>
            </thead>
            <tbody>
            {% for row in clients %}
                <tr>
                    <td class="table-cell avatar-column"><img style="width: 50px;" src="{{ asset(row.avatar) }}" alt="{{ row.getClientName() ~ " avatar" }}"></td>
                    <td class="table-cell name-column">{{ row.getClientName() }}</td>
                    <td class="table-cell">{{ row.email }}</td>
                    <td class="table-cell">{{ row.manager }}</td>
                    <td class="table-cell">{{ row.getPaymentMethod() }}</td>
                    <td class="table-cell options-column">
                        <div class="options-container">
                            <a href="{{ path("dashboard_client_show", {id: row.id}) }}"><span class="view-option options-icon"></span></a>
                            <span class="edit-option options-icon"></span>
                            <a href="{{ path("dashboard_delete", {route: "client", id:row.id}) }}"><span class="delete-option options-icon"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% include "modals/add-client.html.twig" %}
{% endblock %}  