{% extends 'base.html.twig' %}

{% block title %}Developers{% endblock %}

{% block body %}
    <div class="profile-hours-container grid-2-1">
        <!-- PROFILE SIDE -->
        <div class="profile-container">
            <span class="edit-profile edit-option options-icon" id="openEditClientModalBtn"></span>
            <img class="profile-avatar" src="{{ client.avatar }}" alt="{{ client.getClientName() ~ " avatar image" }}">
            <p class="profile-title">{{ client.getClientName() }}</p>
            <div class="profile-info">
                <p><strong>Email: </strong><span>{{ client.email }}</span></p>
                <p><strong>Manager: </strong><span>{{ client.manager }}</span></p>
                <p><strong>Payment method: </strong><span>{{ client.getPaymentMethod() }}</span></p>
            </div>
        </div>
        <!-- TABLE SIDE -->
        {{ include("includes/task-table.html.twig") }}
    </div>
{% include "includes/overlay.html.twig" %}
{% include "modals/edit-client.html.twig" %}
{% endblock %}

{% block script %}
<script src="{{ asset("js/modals.js") }}"></script>
{% endblock %}