{% extends 'base.html.twig' %}

{% block title %}Developers{% endblock %}

{% block body %}

    <div class="profile-hours-container grid-2-1">
        <!-- PROFILE SIDE -->
        <div class="profile-container">
            <span class="edit-profile edit-option options-icon" id="openEditUserModalBtn"></span>
            <img class="profile-avatar" src="{{ asset("." ~ developer.getAvatarPath()) }}" alt="{{ developer.getAvatarAlt() }}">
            <p class="profile-title">{{ [developer.getFirstName(), developer.getLastName()] | join(" ") }}</p>
            <div class="profile-info">
                <p><strong>Email: </strong><span>{{ developer.email }}</span></p>
                <p><strong>Role: </strong><span>
                    {% for role in developer.roles %}
                        {% if role == "ROLE_DEV" %}
                            Developer
                        {% endif %}
                        {% if role == "ROLE_ADMIN" %}
                            Administrator
                        {% endif %}
                    {% endfor %}
                </span></p>
                <p><strong>Bank account: </strong><span>{{ developer.getBankAcc() }}</span></p>
                <p><strong>Status: </strong><span>
                    {% if developer.status == true %}
                        🟢 Active
                    {% else %}
                        🔴 Inactive
                    {% endif %}
                </span></p>
            </div>
        </div>
        <!-- TABLE SIDE -->
        {{ include("includes/task-table.html.twig") }}
    </div>
    <div class="black-alpha fixed-center" id="blackAlpha"></div>
{% include "modals/edit-user.html.twig" %}
{% endblock %}

{% block script %}
<script src="{{ asset("js/modals.js") }}"></script>
{% endblock %}