{% extends 'base.html.twig' %}

{% block title %}Developers{% endblock %}

{% block body %}

    <table>
        <thead>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Street</th>
            <th>City</th>
            <th>Country</th>
            <th>Options</th>
        </thead>
        <tbody>
        {% for row in developers %}
            <tr>
                <td><img 
                    style="width: 50px;border-radius: 50%;height: 50px;object-fit: cover;"
                    src="{{ asset(row.getAvatarPath()) }}"
                    alt="{{ row.getAvatarAlt() }}">
                </td>
                <td>{{ [row.getFirstName(), row.getLastName()]|join(" ") }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.status }}</td>
                <td>{{ row.street }}</td>
                <td>{{ row.city }}</td>
                <td>{{ row.country }}</td>
                <td><a href="{{ path("dashboard_developer_show", {id: row.id}) }}">View</a></td>
                <td><a href="{{ path("dashboard_delete", {table: "developer", id:row.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}