{% extends 'base.html.twig' %}

{% block title %}Developers{% endblock %}

{% block body %}

    {{ form_start(add_user_form) }}
        {{ form_row(add_user_form.first_name) }}
        {{ form_row(add_user_form.last_name) }}
        {{ form_row(add_user_form.email) }}
        {{ form_row(add_user_form.plainPassword, {label: 'Password'}) }}
        {{ form_row(add_user_form.roles, {label: "Role"}) }}
        {{ form_row(add_user_form.street) }}
        {{ form_row(add_user_form.city) }}
        {{ form_row(add_user_form.country) }}
        {{ form_row(add_user_form.bank_acc) }}
        {{ form_row(add_user_form.status, {label: 'Active'}) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(add_user_form) }}

    <table>
        <thead>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Street</th>
            <th>City</th>
            <th>Country</th>
            <th>Options</th>
        </thead>
        <tbody>
        {% for row in developers %}
            <tr>
                <td><img 
                    style="width: 50px;border-radius: 50%;height: 50px;object-fit: cover;"
                    src="{{ asset(row.getAvatarPath()) }}"
                    alt="{{ row.getAvatarAlt() }}">
                </td>
                <td>{{ [row.getFirstName(), row.getLastName()]|join(" ") }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.status }}</td>
                <td>{{ row.street }}</td>
                <td>{{ row.city }}</td>
                <td>{{ row.country }}</td>
                <td><a href="{{ path("dashboard_developer_show", {id: row.id}) }}">View</a></td>
                <td><a href="{{ path("dashboard_delete", {route: "developer", id:row.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}