{% extends 'base.html.twig' %}

{% block title %}Developers{% endblock %}

{% block body %}

    <!-- TOPBAR -->
    <div class="top-section">
        <input class="searchbar" type="text" placeholder="Search">
        <input class="add-user-btn btn-primary" type="submit" value="Add user" id="openAddUserModalBtn">
    </div>
    <!-- TABLE -->
    <div class="table-div">
        <table class="table">
            <thead>
                <th class="table-cell avatar-column">Avatar</th>
                <th class="table-cell name-column">Name</th>
                <th class="table-cell">Email</th>
                <th class="table-cell">Status</th>
                <th class="table-cell">Street</th>
                <th class="table-cell">City</th>
                <th class="table-cell">Country</th>
                <th class="table-cell options-column">Options</th>
            </thead>
            <tbody>
            {% for row in developers %}
                <tr>
                    <td class="table-cell avatar-column"><img src="{{ asset(row.getAvatarPath()) }}" alt="{{ row.getAvatarAlt() }}"></td>
                    <td class="table-cell name-column">{{ [row.getFirstName(), row.getLastName()]|join(" ") }}</td>
                    <td class="table-cell">{{ row.email }}</td>
                    <td class="table-cell">
                        {% if row.status %}
                            Active
                        {% else %}
                            Inactive
                        {% endif %}
                    </td>
                    <td class="table-cell">{{ row.street }}</td>
                    <td class="table-cell">{{ row.city }}</td>
                    <td class="table-cell">{{ row.country }}</td>
                    <td class="table-cell options-column">
                        <div class="options-container">
                            <a href="{{ path("dashboard_developer_show", {id: row.id}) }}"><span class="view-option options-icon"></span></a>
                            <a href="{{ path("dashboard_delete", {route: "developer", id:row.id}) }}"><span class="delete-option options-icon"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% include "modals/add-developer.html.twig" %}
{% endblock %}