{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    
    <div class="profile-hours-container grid-2-1">
        <!-- PROFILE SIDE -->
        <div class="profile-container">
            <span class="edit-profile edit-option options-icon" id="openEditUserModalBtn"></span>
            <img class="profile-avatar" src="{{ asset("." ~ profile.getAvatarPath()) }}" alt="{{ profile.getAvatarAlt() }}">
            <p class="profile-title">{{ [profile.getFirstName(), profile.getLastName()] | join(" ") }}</p>
            <div class="profile-info">
                <p><strong>Email: </strong><span>{{ profile.email }}</span></p>
                <p><strong>Role: </strong><span>
                    {% for role in profile.roles %}
                        {% if role == "ROLE_DEV" %}
                            Developer
                        {% endif %}
                        {% if role == "ROLE_ADMIN" %}
                            Administrator
                        {% endif %}
                    {% endfor %}
                </span></p>
                <p><strong>Bank account: </strong><span>{{ profile.getBankAcc() }}</span></p>
                <p><strong>Status: </strong><span>
                    {% if profile.status == true %}
                        🟢 Active
                    {% else %}
                        🔴 Inactive
                    {% endif %}
                </span></p>
                <a class="insert-hours-btn btn-primary" id="openTaskModal">Insert hours</a>
            </div>
        </div>
        <!-- TABLE SIDE -->
        {% if not is_granted("ROLE_ADMIN") %}
            {{ include("includes/task-table.html.twig") }}
        {% else %}
            {{ include("includes/no-data.html.twig") }}
        {% endif %}
    </div>
{% include "modals/edit-user.html.twig" %}
{% include "modals/add-task.html.twig" %}
{% endblock %}
